<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #563d7c;">
   
   <% if user_signed_in? %>
    <%= link_to albums_path, :action => 'go' do %>
    <div class="navbar-brand" style="color:blue">
      <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_da3dfe7v.json"  background="transparent"  speed="1"  style="width: 50px; height: 50px;"  loop  autoplay></lottie-player>
    </div>
    <% end %>
    <%else %>
    <%= link_to home_index_path, :action => 'go' do %>
    <div class="navbar-brand" style="color:blue">
      <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_da3dfe7v.json"  background="transparent"  speed="1"  style="width: 50px; height: 50px;"  loop  autoplay></lottie-player>
    </div>
    <% end %>
    <%end  %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
     <% if user_signed_in?  %>
        <li class="nav-item  <%=active_class?(albums_path)%>">
          <%= link_to "Home", albums_path,class:"nav-link"%>
        </li>
        <li class="nav-item  <%=active_class?( edit_user_registration_path)%>">
          <%= link_to "Account", edit_user_registration_path,class:"nav-link"%>
        </li>
        <li class="nav-item  <%=active_class?( albums_draft_path)%>">
          <%= link_to "Drafts", albums_draft_path,class:"nav-link"%>
        </li>
        <li class="nav-item  <%=active_class?( destroy_user_session_path)%>">
          <%= link_to(("Sign Out" + content_tag(:span, " #{current_user.name}", :class=>"userName",:style => "font-weight: bold;")).html_safe,destroy_user_session_path,method: :delete,:class => "nav-link") %>
        </li>
        <%else %>
        <li class="nav-item  <%=active_class?(home_index_path)%>">
          <%= link_to "Home", home_index_path,class:"nav-link"%>
        </li>
        <li class="nav-item  <%=active_class?(new_user_registration_path )%>">
          <%= link_to "Sign up", new_user_registration_path,class:"nav-link"%>
        </li>
        <li class="nav-item  <%=active_class?( new_user_session_path)%>">
          <%= link_to "Sign in", new_user_session_path,class:"nav-link"%>
        </li>
        <% end %>
    </ul>
  </div>
</nav>