<br><h1>Hello admin!</h1>
<div class="jumbotron">
  <table class="table  table-light">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">E-mail id</th>
        <th scope="col">Created On</th>
        <th scope="col">Album Created</th>
        <th scope="col">Delete User</th>
        <th scope="col">Deactivated</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
            <td><%= user.created_at.strftime('%d-%m-%Y') %></td>
            <% count = user.albums.count %>
            <td><%= count %></td>
          <td><%= link_to "Delete", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } ,class:"btn btn-outline-danger btn-sm"%></td>
          <td>
          <%= check_box_tag 'deactivated', user.id, user.deactivated,
          data: {
            remote: true,
            url: url_for(action: :toggle, id: user.id),
            method: "POST"
          } %>
          </td>
        </tr>
      <% end %>
    </tbody> 
  </table>
</div>